.tasks-column-header {
    display: flex;
    align-items: center;
    min-height: 40px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    margin-bottom: 1%;
}


.single-task-container {
    display: flex;
    align-items: center;
    min-width: 100%;
    min-height: 40px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    margin-bottom: 1%;
    margin-top: 1%;
}
.single-task-container:hover{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.single-task-container:hover .bars-icon {
    display: flex;
}
.task-name-container {
    min-width: 70%;
    display: flex;
    justify-content: space-between;
}

.task-drop-down-arrow {
    margin-right: 1%;
}

.task-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 10%;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.hidden {
    display: none;
}

.task-due-date {
    display: flex;
    justify-content: center;
    min-width: 9%;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
}

.task-priority-container {
    display: flex;
    justify-content: center;
    min-width: 9%;
    border-right: 1px lightgray solid;
}

.task-priority-outer-pill-Medium {
    font-size: 16px;
    background-color: #f1bd6c;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    padding: 0 8px;
}

.task-priority-outer-pill-High {
    font-size: 16px;
    background-color: #b36bd4;
    ;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    padding: 0 8px;
}

.task-priority-outer-pill-Low {
    font-size: 16px;
    background-color: #9ee7e3;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    padding: 0 8px;
}

.task-status-container {
    display: flex;
    justify-content: center;
    min-width: 9%;
    border-right: 1px lightgray solid;
}

.task-status-outer-pill-On.Track {
    font-size: 16px;
    background-color: #4ecbc4;
    ;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    padding: 0 8px;
}

.task-status-outer-pill-Off.Track {
    font-size: 16px;
    background-color: #f06a6a;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    padding: 0 8px;
}

.task-status-outer-pill-At.Risk {
    font-size: 16px;
    background-color: #f8df72;
    display: flex;
    align-items: center;
    border-radius: 12.5px;
    height: 25px;
    padding: 0 8px;
}

/*task description */
.description-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.task-description-dropdown {
    position: absolute;
    top: 100%;
    left: 110%;
    /* left: 0; */
    z-index: 1;
    display: none;
    background-color: #424244;
    padding: 15px;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    word-wrap: break-word;
    color: white;

}
.description-dropdown:hover .task-description-dropdown {
  display: block;
}
#description-header{
    font-style: italic;
    text-decoration:underline;
    margin-bottom: 2%;
}
