.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 10%;
  padding: 1%;
  height: 10%;
  background-color: white;
  border: .5px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  top: 4%;
  right: 2%;
  /* top: 0%; */
}

.profile-dropdown-logout-button{
  width: 50%;
}
.hidden {
  display: none;
}

/* LOGGED OUT NAV */
.logged-out-navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 50px;
}
.logged-out-nav-buttons-container{
  display: flex;
}
.splash-login-button{
  border: none;
  background-color: white;
  color: #727272;
  height: 35px;
  margin-right: 10px;
}
.home-button-container{
  height: 80%;
  width: 25%;
  display: flex;
  align-items: center;
}
.nav-logo{
  height: 35px;
}
#metam-splash-nav{
  height: 100%;
  font-size: 25px;
}
.nav-button{
  height: 35px;
}

/* LOGGED IN NAV */
.logged-in-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  /* background-color: #363639;
  border-bottom: 1px solid #424244; */
}
.logged-in-nav-buttons-and-home-container{
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#metam-nav{
  height: 100%;
  font-size: 25px;
  color: white
}
.profile-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
#navbar-profile-button{
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
}
#sidebar-toggle-button {
  background-color: transparent;
  border-radius: 10px;
  border: white 1px solid;
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 5px;
  color: white;
  margin-right: 10px;
}


/* LEFT NAV BAR */
.left-navbar-container{
  min-height: 100%;
  width: 15%;
  display: flex;
  /* background-color: #2e2e30; */
  flex-direction: column;
  color: #f5f4f3;
}
.left-navbar-top-container{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 10%;
  /* margin-bottom: 20%; */
}
.create-project-button-left-navbar-button{
    border: none;
    background-color: #5C6DA3;
    color: white;
    margin-left: 10%;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10%;
    min-width: fit-content
}
.create-button-in-left-navbar{
  text-align: center;
  display: block;
  font-size: 1em;
}

#team-container{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}
#team-header{
  margin-bottom: 10px;
}
#team-members-container{
  display: flex;
  flex-wrap: wrap;
  height: 34px;
  overflow: auto
}
/* width */
#team-members-container::-webkit-scrollbar {
  width: 18px;
}

/* Track */
#team-members-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#team-members-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
#team-members-container::-webkit-scrollbar-thumb:hover {
  background: #4573d2;
}

.user-profile-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: #bdbdbd;
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 2px;
  border: none;
}

.project-owner{
  background-color: #7393B3;
}

.logged-in-user{
  border: 1px solid red
}
.add-to-team-button{
  border: none;
  background-color: transparent;
  color: white;
}
.my-workspace-container{
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  border-top: 1px solid #424244;
  height: 100%;
}
.my-workspace-header{
  margin-bottom: 8%;
  padding-bottom: 5%;
  margin-left: 10%;
  width: 70%;
  border-bottom: 1px solid #424244;
}
.projects-container{
  height: 100%;
}
.left-nav-individual-project{
  width: 100%;
  /* height: 8%; */
  margin-bottom: 5%;
  font-size: 14px;
  color: white;
}
.individual-project:hover{
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  background-color: #6a696a;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 80%;
  max-width: 80%; /* or any other value that suits your needs */
  white-space: normal;
  word-wrap: break-all;
}
.individual-project-container{
  height: 100%;
  width: 100%;
  max-width: 100%; /* or any other value that suits your needs */
  white-space: normal;
  word-wrap: break-word;
}
.individual-project{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 80%;
  max-width: 80%; /* or any other value that suits your needs */
  white-space: normal;
  word-wrap: break-word;
}
.individual-project-active{
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  /* background-color: #6a696a; */
  padding-left: 10%;
  padding-right: 10%;
  /* padding-top: 2%;
  padding-bottom: 2%; */
}
.top-container-link-active{
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  /* background-color: #6a696a; */
}
.top-container-link:hover{
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  background-color: #6a696a;
}
.top-container-link{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  display: flex;
}
.fa-solid.fa-house {
  padding-right: 4%;
}

  @media screen and (max-width: 720px) {
    .splash-login-button{
      height: 25px;
      margin-right: 5px;
    }
    .nav-logo{
      height: 25px;
    }
    #metam-splash-nav{
      font-size: 15px;
    }
  }

  @media screen and (max-width: 280px) {
    .splash-login-button{
      height: 15px;
      font-size: .65em;
      margin-right: 1px;
    }
    .nav-logo{
      height: 15px;
    }
    #metam-splash-nav{
      font-size: .65em;
    }
}
