.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: 10%;
  background-color: white;
  border: .5px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  right: 4%;
  /* top: 0%; */
}

.hidden {
  display: none;
}

/* LOGGED OUT NAV */
.logged-out-navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 6vh;
}
.logged-out-nav-buttons-container{
  display: flex;
  width: 12%;
  justify-content: space-between;
}
.login-button.nav-button{
  border: none;
  background-color: white;
  color: #727272;
}
.signup-button{
  background-color: #0D0E10;
  color: #FFFFFF;
}
.nav-button{
  height: 35px;
}

/* LOGGED IN NAV */
.logged-in-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  background-color: #363639;
}
.logged-in-nav-buttons-and-home-container{
  margin-left: 4%;
  margin-right: 4%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
