.splash-content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 0;
    /* margin-top: 3%; */
    height: calc(100% - 50px);
    align-items: center;
    background-image: linear-gradient(white, lightgray, gray)
}

.splash-top-row {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    align-items: center;
}
.splash-images-container {
    margin-top: 3%;
    /* padding: 40px 0; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.splash-image {
    border-radius: 15px;
    box-shadow: 2.7px 3.5px 22.4px rgba(0, 0, 0, 0.6)
}
#splash-main-gif{
    width: 1000px;
}
.splash-header {
    width: 100%;
    text-align: center;
    font-size: 2.8125rem;
}

.splash-line-break {
    margin-top: 20px;
    width: 30%;
    border-top: 1px dashed black;
    margin-bottom: 20px;
}

.splash-about-metam {
    font-size: 20px;
    text-align: center;
    width: 55%;
    margin-bottom: 20px;
}

.splash-signup-button {
    height: 35px;
    width: 125px;
    background-color: #0D0E10;
    color: #FFFFFF;
}


/* FOOTER */
#footer-container{
    background-color: #363639;
    border-bottom: 1px solid #424244;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25%;
}
#footer-header{
    color: white;
    width: 20%;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
.footer-label-container{
    display: flex;
}
#footer-content-container{
    display: flex;
    justify-content: center;
    width: 35%;
    min-width: fit-content;
}
.footer-logo{
    height: 70px;
}
#footer-email-container{
    height: auto;
}
.footer-logo-container{
    display: flex;
    align-items: center;
}
#footer-linked-in-link-container{
    margin-right: 5%;
}
#footer-github-link-container{
    margin-right: 5%;
}
#footer-linked-in{
    margin-left: 7%;
}
#footer-email-container{
    display: flex;
    align-items: center;
}
.footer-field{
    color: white !important;
    font-weight: 550;
    font-size: 1em;
}
#footer-email{
    margin-left: 6%;
}

@media screen and (max-width: 1450px) {
    .splash-about-metam {
        width: 80%;
    }
    #footer-container {
        flex-direction: column;
    }
    #splash-main-gif {
        width: 800px;
    }
    .footer-logo{
        height: 50px;
    }
    #github-logo {
        height: 75px;
    }
    .footer-field {
        font-size: 1em;
    }
    #footer-header {
        width: 100%;
        font-size: 2em;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1100px) {
    .splash-about-metam {
        width: 95%;
    }
    #splash-main-gif {
        width: 700px;
    }
}

@media screen and (max-width: 400px) {
    .splash-top-row{
        width: 100%;
    }
    .splash-content{
        justify-content: space-evenly;
        padding: none;
    }
    .splash-signup-button{
        font-size: .75em;
        height: 25px;
        width: 80px;
    }
    .splash-header{
        width: 100%;
        font-size: 1.5em
    }
    .splash-about-metam {
        width: 80%;
        font-size: .75em
    }
    #splash-main-gif {
        width: 300px;
    }
    #footer-content-container {
        flex-direction: column;
    }
    .footer-logo{
        height: 30px;
    }
    #footer-github-link-container {
        left: 35px;
    }
    #github-logo {
        height: 40px;
    }
    .footer-field {
        font-size: 1em;
    }
    #footer-header {
        width: 100%;
        font-size: 2em;
        margin-bottom: 10px;
    }
}
