.splash-content {
    display: flex;
    width: 70%;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    height: 89vh;
    justify-content: space-between;
}

.splash-left-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: start;
    align-items: start;
}

.splash-right-column {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    align-items: center;
}

.splash-header {
    width: 85%;
    font-size: 2.8125rem;
}

.splash-line-break {
    margin-top: 10%;
    width: 30%;
    border-top: 1px dashed black;
    margin-bottom: 10%;
}

.splash-about-metam {
    font-size: 20px;
    width: 85%;
    margin-bottom: 10%;
}

.splash-signup-button {
    height: 35px;
    width: 125px;
    background-color: #0D0E10;
    color: #FFFFFF;
}

#splash-images-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#first-picture {
    position: absolute;
    top: 50px;
    width: 65%;
}

#second-picture {
    position: absolute;
    bottom: 25%;
    right: 50px;
    width: 30%;
}
#splash-image-decoration-rectangle {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: rgba(69, 115, 210);
    left: 40%;
}

@media screen and (max-width: 1320px) {
    .create-project-form-container{
        min-width: fit-content;
    }
    .create-project-container {
        min-width: fit-content;
    }
}
/* FOOTER */
#footer-container{
    background-color: #363639;
    border-bottom: 1px solid #424244;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25vh
}
#footer-header{
    color: white;
    width: 20%;
    font-size: 40pt;
    display: flex;
    justify-content: center;
}
.footer-label-container{
    display: flex;
}
#footer-content-container{
    display: flex;
    justify-content: center;
    width: 35%;
}
#linked-in-logo{
    height: 70px;
}
#footer-email-container{
    height: auto;
}
#email-logo{
    height: 70px;
}
.footer-logo-container{
    display: flex;
    align-items: center;
}
#footer-linked-in-link-container{
    margin-right: 5%;
}
#footer-github-link-container{
    margin-right: 5%;
}
#footer-linked-in{
    margin-left: 7%;
}
#footer-email-container{
    display: flex;
    align-items: center;
}
.footer-field{
    color: white !important;
    font-weight: 550;
}
#footer-email{
    margin-left: 6%;
}
